@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|EB+Garamond:400,500|Libre+Baskerville:400,700");
.QueryComponent {
  flex-basis: 50%;
  pointer-events: all;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .QueryComponent input {
    font-family: 'America Medium';
    font-size: 1.5rem;
    text-shadow: -0.11rem 0.11rem 0 black;
    -webkit-text-stroke-color: black;
    color: black;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    line-height: 1.5rem;
    width: 5rem;
    text-align: center;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    padding-bottom: .125rem;
    border-bottom: 1px dotted black; }
  .QueryComponent button {
    display: none; }
  .QueryComponent__years {
    display: flex;
    flex-direction: column; }
    .QueryComponent__years form {
      font-family: 'America Medium';
      font-size: 1.5rem;
      text-shadow: -0.11rem 0.11rem 0 black;
      -webkit-text-stroke-color: black;
      color: black;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke-width: .5px;
      line-height: 1.5rem;
      margin-bottom: 1rem; }
  .QueryComponent__error-tooltip {
    font-family: 'America Regular';
    font-size: 0.8125rem;
    line-height: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 10rem;
    margin-top: .5rem;
    padding: 1rem;
    box-shadow: 0 6px 8px rgba(135, 135, 135, 0.03), 0 1px 2px rgba(136, 136, 136, 0.3);
    background-color: #000;
    color: #FFF; }
    .QueryComponent__error-tooltip::before {
      content: '';
      position: absolute;
      top: -.5rem;
      width: 0;
      height: 0;
      border-left: .5rem solid transparent;
      border-right: .5rem solid transparent;
      border-bottom: .5rem solid black; }
    .QueryComponent__error-tooltip p:not(:first-child) {
      margin-top: .5rem; }

.GenreDropdown {
  font-family: 'America Medium';
  font-size: 1.5rem;
  text-shadow: -0.11rem 0.11rem 0 black;
  -webkit-text-stroke-color: black;
  color: black;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .5px;
  line-height: 1.5rem;
  flex-basis: 50%;
  max-width: 17rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  text-transform: uppercase;
  line-height: 1.75rem; }
  .GenreDropdown__list {
    transition: opacity .25s ease-in-out; }
  .GenreDropdown__selected-genre {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .GenreDropdown__selected-genre::after {
      content: '';
      transition: transform .2s ease-in-out;
      display: block;
      width: 0;
      height: 0;
      border-left: .3275rem solid transparent;
      border-right: .3275rem solid transparent;
      border-bottom: 0.3275rem solid black;
      border-top: none; }
  .GenreDropdown--expanded .GenreDropdown__selected-genre:after {
    transform: rotate(180deg); }
  .GenreDropdown .GenreDropdown__item:hover {
    opacity: .7; }
