.QueryComponent {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 1rem;
  right: 1rem;
  z-index: 100; }
  .QueryComponent ul {
    cursor: pointer;
    display: inline-flex;
    flex-flow: column nowrap;
    margin-right: 3rem; }
    .QueryComponent ul li {
      opacity: 0;
      transition: opacity .25s ease-in-out; }
      .QueryComponent ul li.active {
        position: absolute;
        opacity: 100; }
      .QueryComponent ul li:first-child {
        margin-top: 1.5rem; }
    .QueryComponent ul:hover li {
      opacity: 1; }
      .QueryComponent ul:hover li:hover {
        opacity: .7; }
  .QueryComponent input {
    width: 4rem;
    text-align: center;
    font-family: 'Arial';
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: -0.11rem 0.11rem 0 #C89D00;
    -webkit-text-stroke-color: #C89D00;
    color: #C89D00;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    padding-bottom: .125rem;
    border-bottom: 1px dotted #C89D00; }
  .QueryComponent button {
    display: none; }
