@import "settings";

.QueryComponent {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 1rem;
  right: 1rem;
  z-index: 100;

  ul {
    cursor: pointer;
    display: inline-flex;
    flex-flow: column nowrap;
    margin-right: 3rem;

    li {
      opacity: 0;
      transition: opacity .25s ease-in-out;

      &.active {
        position: absolute;
        opacity: 100;
      }

      &:first-child {
        margin-top: 1.5rem;
      }
    }

    &:hover li {
      opacity: 1;

      &:hover {
        opacity: .7;
      }
    }
  }

  input {
    width: 4rem;
    text-align: center;
    font-family: 'Arial';
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: -0.11rem 0.11rem 0 $color-primary;
    -webkit-text-stroke-color: $color-primary;
    color: $color-primary;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    padding-bottom: .125rem;
    border-bottom: 1px dotted $color-primary;
  }

  button {
    display: none;
  }
}
