@import "settings", "components";

.QueryComponent {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 1rem;
  right: 1rem;
  z-index: 100;

  ul {
    cursor: pointer;
    display: inline-flex;
    flex-flow: column nowrap;
    margin-right: 3rem;

    li {
      opacity: 0;
      transition: opacity .25s ease-in-out;

      &.active {
        position: absolute;
        opacity: 100;
      }

      &:first-child {
        margin-top: 1.5rem;
      }
    }

    &:hover li {
      opacity: 1;

      &:hover {
        opacity: .7;
      }
    }
  }

  input {
    @include type-deco;
    width: 4rem;
    text-align: center;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding-bottom: .125rem;
    border-bottom: 1px dotted $color-primary;
  }

  button {
    display: none;
  }

  &__years {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      margin-bottom: 1rem;
    }
  }

  &__error-tooltip {
    @include type-body;
    @include tooltip;
    @include drop-shadow-small;
    background-color: $color-black;
    color: $color-white;

    p:not(:first-child) {
      margin-top: .5rem;
    }
  }
}
