@import "settings", "components";

.QueryComponent {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 1rem;
  right: 1rem;
  z-index: 100;

  input {
    @include type-deco;
    width: 4rem;
    text-align: center;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding-bottom: .125rem;
    border-bottom: 1px dotted $color-primary;
  }

  button {
    display: none;
  }

  &__years {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      @include type-deco;
      margin-bottom: 1rem;
    }
  }

  &__error-tooltip {
    @include type-body;
    @include tooltip;
    @include drop-shadow-small;
    background-color: $color-black;
    color: $color-white;

    p:not(:first-child) {
      margin-top: .5rem;
    }
  }
}

.GenreDropdown {
  @include type-deco;
  pointer-events: none;
  cursor: pointer;
  display: inline-flex;
  flex-flow: column nowrap;
  margin-right: 3rem;

  &__list {
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }

  &__selected-genre {
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      transition: transform .2s ease-in-out;
      display: block;
      width: 0;
      height: 0;
      border-left: .3275rem solid transparent;
      border-right: .3275rem solid transparent;
      border-bottom: .3275rem solid $color-primary;
      border-top: none;
    }
  }

  &:hover &__selected-genre:after {
    transform: rotate(180deg);
  }

  &:hover .GenreDropdown__list {
    pointer-events: all;
    opacity: 1;

    .GenreDropdown__item:hover {
      opacity: .7;
    }
  }


}
