.QueryComponent {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 1rem;
  right: 1rem;
  z-index: 100; }
  .QueryComponent input {
    font-family: 'Arial';
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: -0.11rem 0.11rem 0 #C89D00;
    -webkit-text-stroke-color: #C89D00;
    color: #C89D00;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    width: 4rem;
    text-align: center;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    padding-bottom: .125rem;
    border-bottom: 1px dotted #C89D00; }
  .QueryComponent button {
    display: none; }
  .QueryComponent__years {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .QueryComponent__years form {
      font-family: 'Arial';
      font-size: 1.5rem;
      font-weight: 700;
      text-shadow: -0.11rem 0.11rem 0 #C89D00;
      -webkit-text-stroke-color: #C89D00;
      color: #C89D00;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke-width: .5px;
      margin-bottom: 1rem; }
  .QueryComponent__error-tooltip {
    font-family: Arial;
    font-size: 0.75rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 10rem;
    margin-top: .5rem;
    padding: 1rem;
    box-shadow: 0 6px 8px rgba(135, 135, 135, 0.03), 0 1px 2px rgba(136, 136, 136, 0.3);
    background-color: #000;
    color: #FFF; }
    .QueryComponent__error-tooltip::before {
      content: '';
      position: absolute;
      top: -.5rem;
      width: 0;
      height: 0;
      border-left: .5rem solid transparent;
      border-right: .5rem solid transparent;
      border-bottom: .5rem solid black; }
    .QueryComponent__error-tooltip p:not(:first-child) {
      margin-top: .5rem; }

.GenreDropdown {
  font-family: 'Arial';
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: -0.11rem 0.11rem 0 #C89D00;
  -webkit-text-stroke-color: #C89D00;
  color: #C89D00;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .5px;
  pointer-events: none;
  cursor: pointer;
  display: inline-flex;
  flex-flow: column nowrap;
  margin-right: 3rem; }
  .GenreDropdown__list {
    opacity: 0;
    transition: opacity .25s ease-in-out; }
  .GenreDropdown__selected-genre {
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .GenreDropdown__selected-genre::after {
      content: '';
      transition: transform .2s ease-in-out;
      display: block;
      width: 0;
      height: 0;
      border-left: .3275rem solid transparent;
      border-right: .3275rem solid transparent;
      border-bottom: 0.3275rem solid #C89D00;
      border-top: none; }
  .GenreDropdown:hover .GenreDropdown__selected-genre:after {
    transform: rotate(180deg); }
  .GenreDropdown:hover .GenreDropdown__list {
    pointer-events: all;
    opacity: 1; }
    .GenreDropdown:hover .GenreDropdown__list .GenreDropdown__item:hover {
      opacity: .7; }
