@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|EB+Garamond:400,500|Libre+Baskerville:400,700");
.InfoComponent {
  pointer-events: all;
  padding-right: 1rem;
  line-height: 1.5rem; }
  .InfoComponent__info {
    font-family: 'America Medium';
    font-size: 1.5rem;
    text-shadow: -0.11rem 0.11rem 0 black;
    -webkit-text-stroke-color: black;
    color: black;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    line-height: 1.5rem; }
  .InfoComponent__title {
    font-size: 2rem;
    line-height: 1.875rem;
    padding: .5rem 0; }
  .InfoComponent__directors, .InfoComponent__release_date {
    font-size: 1.25rem; }
  .InfoComponent__icon {
    font-family: 'America Medium';
    font-size: 1.5rem;
    text-shadow: -0.11rem 0.11rem 0 black;
    -webkit-text-stroke-color: black;
    color: black;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    cursor: pointer; }
    .InfoComponent__icon::before {
      content: ')';
      display: block;
      position: relative;
      font-size: 1rem;
      right: .02rem; }
