@import "settings";

.InfoComponent {
  pointer-events: all;
  padding-right: 1rem;
  line-height: 1.5rem;

  &__info {
    @include type-deco;
  }

  &__title {
    font-size: 2rem;
    line-height: 1.875rem;
    padding: .5rem 0;
  }

  &__directors,
  &__release_date {
    font-size: 1.25rem;
  }

  &__icon {
    @include type-deco;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &::before {
      content: ')';
      display: block;
      position: relative;
      font-size: 1rem;
      right: .02rem;
    }
  }
}
