.InfoComponent {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100; }
  .InfoComponent p {
    opacity: 0;
    font-size: 0;
    transition: opacity .25s ease-in-out; }
  .InfoComponent:hover p {
    opacity: 100;
    font-size: inherit; }
    .InfoComponent:hover p.InfoComponent__title {
      font-size: 2rem; }
  .InfoComponent .InfoComponent__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 0.125rem solid var(--color-primary);
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    cursor: pointer; }
    .InfoComponent .InfoComponent__icon::before {
      content: 'i';
      display: block;
      position: relative;
      font-size: .75em; }
