@import 'settings';

.List__add-icon {
  @include type-deco;
  margin-right: 1rem;
  cursor: pointer;
  pointer-events: all;
  transition: opacity .25s ease-in-out;

  &:hover {
    opacity: .7
  }
}

.List {
  display: flex;
  pointer-events: all;

  &__indicator {
    @include type-deco;
    pointer-events: all;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    font-size: 1.25rem;

    &:hover {
      opacity: .7
    }
  }

  &__list {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
  }
}

.ListItem {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid $color-primary;

  &:last-child {
    border-bottom: 1px solid $color-primary;
  }

  .ListItem__left,
  .ListItem__right {
    padding: .5rem 0;
  }

  .ListItem__left {
    flex: none;
  }

  .ListItem__center {
    flex: 1;
    margin-right: 1rem;
  }

  .ListItem__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: none;
  }

  &--expanded {
    .ListItem__toggle-icon::after {
      transform: rotate(180deg);
    }

    .ListItem__title {
      margin-bottom: .5rem;
    }
  }

  &__title {
    @include type-deco;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &__toggle-icon::after {
    content: '';
    transition: transform .2s ease-in-out;
    display: block;
    width: 0;
    height: 0;
    border-left: .3275rem solid transparent;
    border-right: .3275rem solid transparent;
    border-bottom: .3275rem solid $color-primary;
    border-top: none;
  }

  &__delete-icon {
    display: block;
    width: .75rem;
    height: .75rem;
    position: relative;
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    opacity: .5;
    transition: opacity .25 ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: .375rem;
      right: 0;
      left: 0;
      border-bottom: 1px solid $color-primary;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__body {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &__info {
    @include type-body;
  }

  &__link {
    @include type-deco;
    font-size: 1.375rem;
    cursor: pointer;
    transition: transform .25s ease-in-out;

    &:hover {
      transform: translate3d(.25rem, -.25rem, 0);
    }

    &:visited {
      @include type-deco;
    }
  }
}
