.fade-enter {
  opacity: 0.01; }
  .fade-enter-active {
    transition: opacity 250ms ease-in-out;
    opacity: 1; }

.fade-leave {
  opacity: 1; }
  .fade-leave-active {
    transition: opacity 250ms ease-in-out;
    opacity: 0.01; }

.fade-appear {
  opacity: 0.01; }
  .fade-appear-active {
    transition: opacity 1s ease-in;
    opacity: 1; }
