html, body, main, #root {
  width: 100%;
  height: 100%;
  margin: 0; }

main {
  font-family: 'Arial';
  text-shadow: -0.11rem 0.11rem 0 #C89D00;
  -webkit-text-stroke-color: #C89D00;
  color: #C89D00;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .5px; }
