@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|EB+Garamond:400,500|Libre+Baskerville:400,700");
html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0; }

main {
  position: relative;
  min-width: 1200px; }

body.--cursor-hidden {
  cursor: none; }

.Top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  left: 4rem;
  right: 4rem;
  padding-top: 1.25rem;
  pointer-events: none; }
  .Top__left {
    flex: 1;
    display: flex;
    flex-flow: row nowrap; }
  .Top__right {
    display: flex;
    justify-content: space-between;
    flex: 2; }
  .Top__info {
    flex: 1; }
  .Top__query {
    flex: 2; }

.Bottom {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  justify-content: center; }
