@import 'settings';

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  position: relative;
  min-width: 1200px;
}

body {
  &.--cursor-hidden {
    cursor: none;
  }
}

.Top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  left: 4rem;
  right: 4rem;
  padding-top: 1.25rem;
  pointer-events: none;

  &__left {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex: 2;
  }

  &__info {
    flex: 1;
  }

  &__query {
    flex: 2;
  }
}

.Bottom {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  justify-content: center;
}
