@import "settings";

.ControlsComponent {
  @include type-deco;
  text-align: center;

  a {
    cursor: pointer;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .7
    }

    &:first-child {
      margin-right: 1rem;
    }
  }
}
