@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|EB+Garamond:400,500|Libre+Baskerville:400,700");
.ControlsComponent {
  font-family: 'America Medium';
  font-size: 1.5rem;
  text-shadow: -0.11rem 0.11rem 0 black;
  -webkit-text-stroke-color: black;
  color: black;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .5px;
  line-height: 1.5rem;
  text-align: center; }
  .ControlsComponent a {
    cursor: pointer;
    transition: opacity .25s ease-in-out; }
    .ControlsComponent a:hover {
      opacity: .7; }
    .ControlsComponent a:not(:last-child) {
      margin-right: 1rem; }
