.PlayerComponent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }
  .PlayerComponent__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .PlayerComponent__trailer-view {
    pointer-events: none;
    width: 100%;
    height: 100%; }
    .PlayerComponent__trailer-view--cursor-hidden {
      cursor: none; }

.HomeView {
  text-align: center;
  max-width: 22rem; }
  .HomeView__title {
    font-family: 'Arial';
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: -0.11rem 0.11rem 0 #C89D00;
    -webkit-text-stroke-color: #C89D00;
    color: #C89D00;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px; }

.Loading {
  font-family: 'Arial';
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: -0.11rem 0.11rem 0 #C89D00;
  -webkit-text-stroke-color: #C89D00;
  color: #C89D00;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .5px; }
