@import 'settings';

.PlayerComponent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: $color-secondary;
  margin: 4rem;
  transition: margin .375s ease-in-out;

  &--controls-hidden {
    margin: 0;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__trailer-view {
    pointer-events: none;
    width: 100%;
    height: 100%;

    &--cursor-hidden {
      cursor: none;
    }
  }
}

.HomeView,
.IntermissionView {
  @include type-body;
  text-align: center;
  text-transform: uppercase;

  h6,
  p {
    max-width: 18rem;
  }

  h6 {
    margin-bottom: 2.2rem;
  }

  &__title {
    @include type-deco;
    margin-bottom: 1.4rem;
  }
}

.Loading,
.Intermission {
  @include type-deco;
}

.Counter {
  position: relative;
  margin: 0 auto 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    animation-name: incrementCounter;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    content: '';
    @include type-deco;
    display: block;
  }

  &__arc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid black;
    border-radius: 50%;
    animation-name: rotateClip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes incrementCounter {
  0% { content: '10' }
  10% { content: '9' }
  20% { content: '8' }
  30% { content: '7' }
  40% { content: '6' }
  50% { content: '5' }
  60% { content: '4' }
  70% { content: '3' }
  80% { content: '2' }
  90% { content: '1' }
  100% { content: '0' }
}

@keyframes rotateClip {
  from {
    clip: rect(0, 3rem, 3rem, 0rem);
    transform: rotate(0deg);
  } to {
    clip: rect(0, 3rem, 3rem, 3rem);
    transform: rotate(180deg);
  }
}
